.contentWrapper {
    background: white;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    padding: 30px 20px;

}

.catPreviewWrapper {
    margin: 0 auto 40px auto;
    max-width: 875px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.importExportWrapper {
    background: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    padding: 15px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.85em;
    line-height: 20px;
}

.importExportSubwrapper {
    margin-top: 10px;
    margin-left: 50px;
    line-height: 30px;
}

.impExpBtn {
    margin-left: 5px;
    background: #E5E4E2;
    border: none;
    border-radius: 8px;
    padding: 4px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.impExpBtn:hover {
    cursor: pointer;
    color: #F9629F;
}

input[type="file"] {
    display: none;
}

