* {
    margin: 0;
    padding: 0;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

body {
    background: #F0F4F9;
}

.wrapper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 2000px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-top: 8px;
}

.navbarLink {
    margin-right: 10px;
    background: #E5E4E2;
    color: rgb(96, 96, 96);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
}

.navbarLink:hover {
    cursor: pointer;
    color: #F9629F;
}

.title {
    font-size: 3em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.generateCatBtn {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background: #F9629F;
    color: white;
    padding: 3px 10px 5px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4.5px rgb(152, 0, 0);
}

.generateCatBtn:hover {
    filter: brightness(120%);
    cursor: pointer;
}